In [57]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
from sklearn import preprocessing

In [4]:
df = pd.read_csv('connect-4.data',sep=",",header=None)
df

      0  1  2  3  4  5  6  7  8  9   ... 33 34 35 36 37 38 39 40 41    42
0      b  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
1      b  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
2      b  b  b  b  b  b  o  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
3      b  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
4      o  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
...   .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..   ...
67552  x  x  b  b  b  b  o  x  o  b  ...  b  b  b  o  o  x  b  b  b  loss
67553  x  x  b  b  b  b  o  b  b  b  ...  b  b  b  o  x  o  o  x  b  draw
67554  x  x  b  b  b  b  o  o  b  b  ...  b  b  b  o  x  x  o  b  b  loss
67555  x  o  b  b  b  b  o  b  b  b  ...  b  b  b  o  x  o  x  x  b  draw
67556  x  o  o  o  x  b  o  b  b  b  ...  b  b  b  x  b  b  b  b  b  draw

[67557 rows x 43 columns]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67557 entries, 0 to 67556
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       67557 non-null  object
 1   1       67557 non-null  object
 2   2       67557 non-null  object
 3   3       67557 non-null  object
 4   4       67557 non-null  object
 5   5       67557 non-null  object
 6   6       67557 non-null  object
 7   7       67557 non-null  object
 8   8       67557 non-null  object
 9   9       67557 non-null  object
 10  10      67557 non-null  object
 11  11      67557 non-null  object
 12  12      67557 non-null  object
 13  13      67557 non-null  object
 14  14      67557 non-null  object
 15  15      67557 non-null  object
 16  16      67557 non-null  object
 17  17      67557 non-null  object
 18  18      67557 non-null  object
 19  19      67557 non-null  object
 20  20      67557 non-null  object
 21  21      67557 non-null  object
 22  22      67557 non-null  object
 23  23      67557 non-null  object
 24  24      67557 non-null  object
 25  25      67557 non-null  object
 26  26      67557 non-null  object
 27  27      67557 non-null  object
 28  28      67557 non-null  object
 29  29      67557 non-null  object
 30  30      67557 non-null  object
 31  31      67557 non-null  object
 32  32      67557 non-null  object
 33  33      67557 non-null  object
 34  34      67557 non-null  object
 35  35      67557 non-null  object
 36  36      67557 non-null  object
 37  37      67557 non-null  object
 38  38      67557 non-null  object
 39  39      67557 non-null  object
 40  40      67557 non-null  object
 41  41      67557 non-null  object
 42  42      67557 non-null  object
dtypes: object(43)
memory usage: 22.2+ MB

In [11]:
features = df.drop(42,axis=1)
labels = df[42]

In [70]:
features_onehot = pd.get_dummies(features,columns=features.columns)
features_onehot

,0_b,0_o,0_x,1_b,1_o,1_x,2_b,2_o,2_x,3_b,...,38_x,39_b,39_o,39_x,40_b,40_o,40_x,41_b,41_o,41_x
0,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
1,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
2,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
3,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
4,0,1,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,0,0,1,0,0,1,1,0,0,1,...,1,1,0,0,1,0,0,1,0,0
67553,0,0,1,0,0,1,1,0,0,1,...,0,0,1,0,0,0,1,1,0,0
67554,0,0,1,0,0,1,1,0,0,1,...,1,0,1,0,1,0,0,1,0,0
67555,0,0,1,0,1,0,1,0,0,1,...,0,0,0,1,0,0,1,1,0,0
67556,0,0,1,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0

In [71]:
def splitTrainTest(data,labels,size=0.4,random=42): 
    return train_test_split(data,labels,test_size=size,random_state=random)

In [76]:
feature_train, feature_test, label_train,label_test = splitTrainTest(features_onehot,labels,0.5,42)

In [86]:
feature_train

,0_b,0_o,0_x,1_b,1_o,1_x,2_b,2_o,2_x,3_b,...,38_x,39_b,39_o,39_x,40_b,40_o,40_x,41_b,41_o,41_x
48388,0,1,0,0,1,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
6187,0,0,1,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
17646,0,1,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
41599,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
64493,0,0,1,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37194,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
6265,0,1,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
54886,0,0,1,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
860,0,0,1,0,1,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
15795,0,1,0,0,1,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0

In [87]:
classifier = tree.DecisionTreeClassifier(criterion='entropy',random_state=33)

In [89]:
classifier.fit(feature_train,label_train)

DecisionTreeClassifier(criterion='entropy', random_state=33)

In [90]:
tree_pred = classifer.predict(feature_test)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.